@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
}

html {
    font-size: 90%;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    flex-direction: column;
    width: 100vw;
    height: 100vh;

}

.form_container {
    width: 290px;
    height: 500px;
    padding: 0 1rem;
    border-radius: 3 px;
    border: 1px solid blue;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: auto;
    position: relative;
    overflow: hidden;
    background: rgb(180, 119, 236);

}

.overlay {
    position: absolute;
    border-radius: 40%;
    background: rgb(141, 50, 227);
    content: '';
    height: 500px;
    width: 500px;
    top: -5%;
    display: none;
}

.titleDiv {
    position: relative;
    width: 100%;
    margin: 10px auto 5px;
    text-align: center;
    z-index: 1000;

}

.title {
    color: var(--blackColor);
}

label:not(.gender) {
    display: block;
    font-size: 13px;
}

input {
    border: none;
    outline: none;
}